$primary: #89EED1;
$secondary: #FCF630;
$contrast: #000000;
$monotype: 'Roboto Mono', monospace;
$header-large: 64px;
$header-med: 28px;
$fine-print: 12px;

// responsive
$mobile-h1: 32px;
$mobile-h2: 24px;
$mobile0-h3: 18px;
$mobile-p: 16px;



body {
    margin:0;
    font-family: $monotype;
    font-size: 18px;
    line-height: 1.4;
}

// .page {
    
// }

h1 {
    font-size: $header-large;
    padding:0;
    margin:0;
}

h2 {
    font-size: $header-med;
    margin:0;
    padding:0;
}

h3 {
    margin: 0;
    background-color: $secondary;
    width:fit-content;
    padding: 3px 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h4 {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
}

.page-title {
    background-color: $primary;
    font-size: 42px;
    font-weight: 600;
    padding: 0 .4em;

}

.home-link {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 35px;
}

a {
    color:inherit;
    text-decoration:none;
}

.underline {
    text-decoration: underline;
}

nav {
    width: 100%;
    margin: 3rem 0 5rem 0;
    z-index: 5;
}

.short-nav {
    background-color: $primary;
    position: inherit;
    width: 100%;
    z-index: 5;
    padding: 3rem 0;
    margin-top: 0;
    margin-bottom:0;
}

nav ul {
    list-style: none;
    display:inline;
    padding:0;
    margin:0;
    display:flex;
    justify-content: center;
}

nav ul li {
    margin-left:25px;
    margin-right:25px;
    font-size: 18px;
}

nav ul li:hover {
    font-weight: 700;
}

section {
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding: 80px 0 0 0;
}

section p {
    max-width: 500px;
    line-height: 1.6;
}

.first {
    background-color: $primary;
    min-height: 60vh;
    padding:0;
}

.first p {
    margin-top:10;
    margin-bottom:60px;
}

 .content-wrapper {
    height: 100%;
    z-index: 20;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}

.first .brackets {
    position:absolute;
    display:flex;
    justify-content: space-between;
    width:90vw;
}

.fifth .brackets {
    position:absolute;
    display:flex;
    justify-content: space-between;
    width:75vw;
}

.first p {
    font-size: 22px;
    max-width: none;
}

.first .scroll-arrow {
    cursor: pointer;
    margin-bottom: 25px;
}

.fourth {
    padding-bottom:80px;
}


.fifth {
    background-color: $primary;
    padding-bottom: 80px;
}

.button {
    text-transform: uppercase;
    letter-spacing: .08rem;
    font-weight:600;
    padding: 20px 30px;
    border: 2px solid black;
    width:fit-content;
    margin: 25px auto 0px auto;
    transition: .5s ease;
    cursor:pointer;
//     background-color: rgba(0,0,0,.1);
}

.fifth .button {

    margin-bottom: 0;
}

.button:hover {
    background-color: $secondary;
}

p.disclaimer {
    font-size: $fine-print;
}

.more-info p:nth-child(3) {
    margin:0;
}


.terms {
    display:flex;
    justify-content:space-between;
    margin-top:20px;
    max-width: 90vw;
}

.term-box {
    // padding: 20px 30px;
    border-radius: 8px;
    text-align:left;
    margin: 0 20px;
    width: 50%;
    // transition: .5s ease;
    // cursor: pointer;
}

.active-term {
    background-color: $contrast;
    color:white;
    box-shadow: 0px 10px 35px 0 rgba(0,0,0,.2);
}


.inactive-term {
    opacity: .6;
    border: 2px solid $contrast;
}



.box-top {
    border-bottom: 2px solid white;
    padding: 20px 20px 20px 20px;
    display:flex;
    justify-content: center;
}

.term-box:last-child .box-top {
    border-bottom: 2px solid $contrast !important;
}

.box-bottom {
    padding: 0 30px;
}

.term-box ul {
    // list-style: none;
    padding-left:15px;
    font-size: 16px;
}

.term-box li {
    padding-bottom: 8px;
}

.center {
    margin-left:auto;
    margin-right:auto;
    max-width:500px;
}

.testimonial {
    width: 75vw;
}

.testimonial img:first-child {
    z-index: -1;
    float: left;
}

.testimonial img:last-child {
    z-index: -1;
    float: right;
}

.quote {
    text-align:left;
}

.quoted {
    text-align: right;
    font-weight:bold;
}

footer {
    text-align:center;
    font-size: 14px;
    padding: 10px;
}

// TEAM

section.all-members {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1700px;
    margin-left:auto;
    margin-right:auto;
}

.team-member {
    width: 400px;
    display:flex;
    flex-direction:column;
    margin:20px;
}

.photo {
    width:100%;
    height: 300px;
    background-color: $primary;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

.team-member:nth-child(1) .photo {
    background-image: url(images/priya-1.jpg);
}

.team-member:nth-child(2) .photo {
    background-image: url(images/molly.jpg);
}

.team-member:nth-child(3) .photo {
    background-image: url(images/jennifer.jpg);
}

.team-member:nth-child(4) .photo {
    background-image: url(images/harshitha.jpg);
}

.team-member:nth-child(5) .photo {
    background-image: url(images/josh.jpg);
}

.team-member:nth-child(6) .photo {
    background-image: url(images/rachel-1.jpg);
}


.about {
    background-color: $secondary;
    padding: 20px;
    min-height: 400px;
}

p.name {
    text-transform: uppercase;
    font-weight: 600;
    margin:0;
}

p.role {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin:0;
}

p.bio {
    text-align: left;
    font-size: 14px;
    margin-bottom: 0;
}

#team .more-info:nth-last-of-type(2) {
    margin-bottom: 100px;
}

#team .more-info p {
    margin-top: 0px;
}


// ALUMNI WORK

#work .work-container {
    width:100%;
    display:flex;
    flex-direction:inherit;
    padding-bottom: 80px;
    flex-wrap: wrap;
}

#work .work-item {
    width: 400px;
    height: 200px;
    background-color:lightslategray;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    margin: 0 20px 40px 20px;
    border: solid 2px rgb(223, 223, 223);
}

#work a:nth-child(1) .work-item{
    background-image:url(images/gwc-2.png);
}

#work a:nth-child(2) .work-item{
    background-image:url(images/gwc-3.png);
}

#work a:nth-child(3) .work-item{
    background-image:url(images/gwc-4.png);
}

#work a:nth-child(4) .work-item{
    background-image:url(images/gwc-5.png);
}

#work a:nth-child(5) .work-item{
    background-image:url(images/gwc-6.png);
}

#work a:nth-child(6) .work-item{
    background-image:url(images/gwc-7.png);
}

#work a:nth-child(7) .work-item{
    background-image:url(images/gwc-8.png);
}

#work a:nth-child(8) .work-item{
    background-image:url(images/gwc-9.png);
}

#work a:nth-child(9) .work-item{
    background-image:url(images/gwc-10.png);
}

#work a:nth-child(10) .work-item{
    background-image:url(images/gwc-11.png);
}

// MEDIA QUERIES

@media (max-width: 1050px) {
    .testimonial {
        width: 90vw;
    }
    
    .testimonial img {
        width: 70px;
    }
}

@media (max-width: 700px) {
    .first .brackets, 
    .fifth .brackets,
    .fourth img,
    .scroll-arrow {
        display:none;
    }

    h1 {
        font-size: $mobile-h1;
    }

    .first p:first-of-type {
        font-size: $mobile0-h3;
        max-width: 90vw;
    }

    .first {
        min-height: 50vh;
        // padding: 8em 0 0 0;
    }

    .content-wrapper {
        display: block;
        justify-content: inherit;
        flex-direction:inherit;
    }

    .terms {
        flex-direction:column;
    }

    .term-box {
       width: auto;
       cursor:inherit;
    }

    .term-box:last-child {
        margin-top: 30px;
        
    }
}

@media (max-width: 450px) {
    section {
        padding: 40px 0 0 0;
        min-height:fit-content;
    }

    nav li a {
        font-size: 14px;
    }

    .page-title {
        font-size: 32px;
    }

    .content-wrapper p {
        margin-left:auto;
        margin-right:auto;
    }

    .first h1 {
        font-size: 28px;
    }

    .button {
        font-size: 14px;
    }

    section.all-members {
        margin-bottom: 40px;
    }

    .scroll-arrow {
        display:none;
    }

    .fifth h2 {
        font-size: $mobile-h2;
    }

    .fifth p:first-child,
    section p {
        font-size: $mobile-p;
        max-width: 90vw;
    }

    .fifth p:last-child {
        margin-bottom: 0;
    }

    .term-box {
        margin:0;
    }

    .term-box li {
        font-size: 14px;
    }
}

