$primary: #FFDED1;
$secondary: #000000;
$monotype: 'Roboto Mono', monospace;
$header-large: 42px;
$header-med: 28px;


body {
    margin:0;
    font-family: $monotype;
}

.page {
    
}

h1 {
    font-size: $header-large;
    padding:0;
    margin:0;
}

h2 {
    font-size: $header-med;
    margin:0;
    padding:0;
}

h3 {
    margin: 0;
    padding:0;
}

nav {
    position:absolute;
    width: 100%;
}

a {

    color:inherit;
}

nav ul {
    list-style: none;
    display:inline;
    padding:0;
    display:flex;
    justify-content: center;
}

nav ul li {
    margin-left:15px;
    margin-right:15px;
    font-size: 12px;
}

nav ul li:hover {
    font-weight: 700;
}

section {
    text-align:center;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    min-height:300px;
    padding: 3rem;
}

.content-wrapper {
    display:block;
}


.first {
    background-color: $primary;
    height: 500px;
}

.second {

}

.third {
    background-color: $primary;
    flex-direction:column;
    padding: 50px;
}

.fourth {

}

.fifth {
    background-color: $primary;
    padding-bottom: 3rem;
}

.button {
    text-transform: uppercase;
    letter-spacing: .08rem;
    font-weight:600;
    padding: 20px 30px;
    border: 1px solid black;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    transition: .5s ease;
    cursor:pointer;
}

.button:hover {
    background-color: $secondary;
    color: #fff;
}


.terms {
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

.term-box {
    padding: 20px 30px;
    border: 1px solid $secondary;
    border-radius: 5px;
    text-align:left;
    margin: 0 10px;
    transition: .5s ease;
    cursor: pointer;
}

.term-box:hover {
    background-color: $secondary;
    color:white;
}