@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
body {
  margin: 0;
  font-family: "DM Mono", monospace;
  font-size: 18px;
  line-height: 1.4;
}

h1 {
  font-size: 64px;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 28px;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  background-color: #FCF630;
  width: fit-content;
  padding: 3px 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h4 {
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
}

.page-title {
  background-color: #89EED1;
  font-size: 42px;
  font-weight: 600;
  padding: 0 0.4em;
}

.home-link {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 35px;
}

a {
  color: inherit;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

nav {
  width: 100%;
  margin: 3rem 0 5rem 0;
  z-index: 5;
}

.short-nav {
  background-color: #89EED1;
  position: inherit;
  width: 100%;
  z-index: 5;
  padding: 3rem 0;
  margin-top: 0;
  margin-bottom: 0;
}

nav ul {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 18px;
  transition: 1s ease-in-out;
}

nav ul li:hover {
  background-color: white;
}

section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0 0 0;
}

.pt-80 {
  padding-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

section p {
  max-width: 500px;
  line-height: 1.6;
}

.first {
  background-color: #89EED1;
  min-height: 60vh;
  padding: 0;
}

.first p {
  margin-top: 10;
  margin-bottom: 60px;
}

.content-wrapper {
  height: 100%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.first .brackets {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.fifth .brackets {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 75vw;
}

.first p {
  font-size: 22px;
  max-width: none;
}

.first .scroll-arrow {
  cursor: pointer;
  margin-bottom: 25px;
}

.fourth {
  padding-bottom: 80px;
}

.fifth {
  background-color: #89EED1;
  padding-bottom: 80px;
}

.button {
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-weight: 600;
  padding: 20px 30px;
  border: 2px solid black;
  width: fit-content;
  margin: 25px auto 0px auto;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.1);
}

.button.disabled {
  background-color: rgba(0, 0, 0, 0.1);
}

.fifth .button {
  margin-bottom: 0;
}

.button:hover {
  background-color: #FCF630;
}

p.disclaimer {
  font-size: 12px;
}

.more-info p:nth-child(3) {
  margin: 0;
}

.terms {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 90vw;
}

.term-box {
  border-radius: 8px;
  text-align: left;
  margin: 0 20px;
  width: 50%;
}

.active-term {
  background-color: #000000;
  color: white;
  box-shadow: 0px 10px 35px 0 rgba(0, 0, 0, 0.2);
}

.inactive-term {
  opacity: 0.6;
  border: 2px solid #000000;
}

.box-top {
  border-bottom: 2px solid white;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: center;
}

.term-box:last-child .box-top {
  border-bottom: 2px solid #000000 !important;
}

.box-bottom {
  padding: 0 30px;
}

.term-box ul {
  padding-left: 15px;
  font-size: 16px;
}

.term-box li {
  padding-bottom: 8px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.testimonial {
  width: 75vw;
}

.testimonial img:first-child {
  z-index: -1;
  float: left;
}

.testimonial img:last-child {
  z-index: -1;
  float: right;
}

.quote {
  text-align: left;
}

.quoted {
  text-align: right;
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: 14px;
  padding: 10px;
}

section.all-members {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

.team-member {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.team-member:nth-child(2) {
  display: none;
}

.photo {
  width: 100%;
  height: 300px;
  background-color: #89EED1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team-member:nth-child(1) .photo {
  background-image: url(images/priya-1.jpg);
}

.team-member:nth-child(2) .photo {
  background-image: url(images/molly.jpg);
}

.team-member:nth-child(3) .photo {
  background-image: url(images/jennifer.jpg);
}

.team-member:nth-child(4) .photo {
  background-image: url(images/harshitha.jpg);
}

.team-member:nth-child(5) .photo {
  background-image: url(images/josh.jpg);
}

.team-member:nth-child(6) .photo {
  background-image: url(images/rachel-1.jpg);
}

.about {
  background-color: #FCF630;
  padding: 20px;
  min-height: 400px;
}

p.name {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

p.role {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

p.bio {
  text-align: left;
  font-size: 14px;
  margin-bottom: 0;
}

#team .more-info:nth-last-of-type(2) {
  margin-bottom: 100px;
}

#team .more-info p {
  margin-top: 0px;
}

#work .work-container {
  width: 100%;
  display: flex;
  flex-direction: inherit;
  padding-bottom: 80px;
  flex-wrap: wrap;
}

#work .work-item {
  width: 400px;
  height: 200px;
  background-color: lightslategray;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 20px 40px 20px;
  border: solid 2px #dfdfdf;
}

#work a:nth-child(1) .work-item {
  background-image: url(images/gwc-2.png);
}

#work a:nth-child(2) .work-item {
  background-image: url(images/gwc-3.png);
}

#work a:nth-child(3) .work-item {
  background-image: url(images/gwc-4.png);
}

#work a:nth-child(4) .work-item {
  background-image: url(images/gwc-5.png);
}

#work a:nth-child(5) .work-item {
  background-image: url(images/gwc-6.png);
}

#work a:nth-child(6) .work-item {
  background-image: url(images/gwc-7.png);
}

#work a:nth-child(7) .work-item {
  background-image: url(images/gwc-8.png);
}

#work a:nth-child(8) .work-item {
  background-image: url(images/gwc-9.png);
}

#work a:nth-child(9) .work-item {
  background-image: url(images/gwc-10.png);
}

#work a:nth-child(10) .work-item {
  background-image: url(images/gwc-11.png);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #89EED1;
  color: #000000;
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 14px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
#contact .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 550px;
}

#contact form {
  text-align: left;
}

label {
  text-align: left;
}

@media (max-width: 1050px) {
  .testimonial {
    width: 90vw;
  }

  .testimonial img {
    width: 70px;
  }
}
@media (max-width: 700px) {
  .first .brackets,
.fifth .brackets,
.fourth img,
.scroll-arrow {
    display: none;
  }

  h1 {
    font-size: 32px;
  }

  .first p:first-of-type {
    font-size: 18px;
    max-width: 90vw;
  }

  .first {
    min-height: 50vh;
  }

  .content-wrapper {
    display: block;
    justify-content: inherit;
    flex-direction: inherit;
  }

  .terms {
    flex-direction: column;
  }

  .term-box {
    width: auto;
    cursor: inherit;
  }

  .term-box:last-child {
    margin-top: 30px;
  }
}
@media (max-width: 450px) {
  section {
    padding: 40px 0 0 0;
    min-height: fit-content;
  }

  .pt-40 {
    padding-top: 40px;
  }

  nav li a {
    font-size: 14px;
  }

  .page-title {
    font-size: 32px;
  }

  .content-wrapper p {
    margin-left: auto;
    margin-right: auto;
  }

  .first h1 {
    font-size: 28px;
  }

  .button {
    font-size: 14px;
  }

  section.all-members {
    margin-bottom: 40px;
  }

  .mb-40 {
    margin-bottom: 40px;
  }

  .scroll-arrow {
    display: none;
  }

  .fifth h2 {
    font-size: 24px;
  }

  .fifth p:first-child,
section p {
    font-size: 16px;
    max-width: 90vw;
  }

  .fifth p:last-child {
    margin-bottom: 0;
  }

  .term-box {
    margin: 0;
  }

  .term-box li {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
